<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectmk2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectMk2">
        <activity android:name=".BookSearch.BookSearchActivity"/>
        <activity android:name=".SecondActivity"/>
        <activity android:name=".BookMark.BookMarkActivity"/>
        <activity android:name=".BookRank.BookRankActivity"/>
        <activity android:name=".Login.LoginActivity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>